html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

.gridIndex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "logo representante nav"
        "main main main"
        "footer footer footer"
    ;
}

header {
    grid-area: logo;
}

.representante {
    grid-area: representante;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recuadroRepresentante {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border: solid white;
    border-radius: 5rem;

}

nav {
    grid-area: nav;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 1.5rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

ul {
    height: 100%;
    display: flex;
    align-items: center;
}

li a {
    color: white;
}

a {
    text-decoration: none;
    color: orange;
}

main {
    grid-area: main;
    display: grid;
    justify-items: center;
    background-color: orange;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "imgPrincipal imgPrincipal imgPrincipal"
        "encabezado encabezado encabezado"
        "cardIzq cardCen cardDer"
    ;
}

header,
nav,
.representante {
    background-color: black;
}

.imgPrincipal {
    grid-area: imgPrincipal;
    margin-top: 2rem;
}

.encabezado {
    grid-area: encabezado;
    margin: 2rem 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardIzq {
    grid-area: cardIzq;
}

.cardCen {
    grid-area: cardCen;
}

.cardDer {
    grid-area: cardDer;
}

.cards {
    width: 33%;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: wheat;
    border-radius: 2rem;
}

.piePag {
    width: 25rem;
    color: orange;
    margin: 1rem;
}

.piePag p {
    margin-top: .5rem;
}

.datosContacto {
    display: flex;
    align-items: center;
}

.redes h3 {
    margin-bottom: 1rem;
}

.redes a {
    width: 100%;
    padding-right: 1.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 1000;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
}

p {
    font-size: 1.7rem;
}



.gridContacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "logo representante nav"
        "main main main"
        "footer footer footer"
    ;
}

.mainContacto {
    grid-area: main;
    display: grid;
    justify-items: center;
    background-color: orange;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
        "contacto ubicacion"
    ;
}

.contacto {
    grid-area: contacto;
    margin: 5rem 0;
}

.ubicacion {
    grid-area: ubicacion;
    margin: 5rem 0;
}

main section h3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 3rem;
}

form {
    margin: auto;
    width: 40rem;
    background: rgba(0, 0, 0, .4);
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
    border-radius: .7rem;
}

input,
textarea,
label {
    width: 100%;
    margin-bottom: 2rem;
    padding: .4rem;
    box-sizing: border-box;
    font-size: 1.7rem;
}

textarea {
    min-height: 5rem;
    max-height: 8rem;
    max-width: 100%;
}

section div h2 {
    text-align: center;
    width: 40rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover {
    color: orange
}

.mainServicios {
    grid-area: main;
    display: grid;
    justify-items: center;
    background-color: orange;
    grid-template-columns: repeat(4, .25fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "titulo titulo titulo titulo "
        "subtitulo subtitulo subtitulo subtitulo"
        "imgTd imgAl imgFren imgElast"
    ;
}

.titulo {
    grid-area: titulo;
    margin: 2rem;
}

.subtitulo {
    grid-area: subtitulo;
    padding: 5rem 0;
    margin: 1rem;
}

.imgTd {
    grid-area: imgTd;
    text-align: center;
    padding: 5rem 0;
}

.imgAl {
    grid-area: imgAl;
    text-align: center;
    padding: 5rem 0;
}

.imgFren {
    grid-area: imgFren;
    text-align: center;
    padding: 5rem 0;
}

.imgElast {
    grid-area: imgElast;
    text-align: center;
    padding: 5rem 0;
}

.mainNosotros {
    grid-area: main;
    display: grid;
    justify-items: center;
    background-color: orange;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "tituloNos"
        "subtituloNos"
        "imgTaller"
    ;
}

.tituloNos {
    grid-area: tituloNos;
    margin: 2rem;
}

.subtituloNos {
    grid-area: subtituloNos;
    margin: 4rem;
}

.imgTaller {
    grid-area: imgTaller;
    margin: 4rem;
}

.mainClientes {
    grid-area: main;
    display: grid;
    justify-items: center;
    background-color: orange;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "tituloClientes"
        "subtituloClientes"
        "imgClientes"
    ;
}

.tituloClientes {
    grid-area: tituloClientes;
    margin: 2rem;
}

.subtituloClientes {
    grid-area: subtituloClientes;
    margin: 4rem;
}

.imgClientes {
    grid-area: imgClientes;
    margin: 4rem;
}

/* MEDIA QUERIES MOBILE */
@media only screen and (max-width: 768px) {

    /* media queries index */
    .gridIndex {
        display: grid;
        grid-template-areas:
            "logo representante"
            "nav nav"
            "main main"
            "footer footer"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    header {
        grid-area: logo;
    }

    .representante {
        grid-area: representante;
    }

    nav {
        grid-area: nav;
    }

    main {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }

    .piePag {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }


    .cards {
        width: auto;
        margin: 1rem;
    }

    .imgPrincipal img {
        width: 100%;
    }

    .encabezado {
        padding-left: 3rem;
    }

    .recuadroRepresentante {
        border-radius: 3rem;
    }

    /* media queries contacto */
    .gridContacto {
        display: grid;
        grid-template-areas:
            "logo representante"
            "nav nav"
            "main main"
            "footer footer"
        ;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    header {
        grid-area: logo;
    }

    .representante {
        grid-area: representante;
    }

    nav {
        grid-area: nav;
    }

    .mainContacto {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
    }

    .piePag {
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    .encabezado {
        padding-left: 3rem;
    }

    .recuadroRepresentante {
        border-radius: 3rem;
    }

    .ubicacion iframe {
        width: 80%;
        padding: 0 5rem;
    }

    .contacto h2 {
        width: auto;
    }

     /* media queries servicios */

    
     .mainServicios {
        grid-area: main;
        display: flex;
        flex-direction: column;
    }

    .imgClientes img{width: 100%;}


}


/* MEDIA QUERIES DESKTOP */
@media only screen and (min-width: 1200px) {
    iframe {
        margin-top: 10rem;
    }

    .contacto {
        margin: 5rem 1rem;
    }

    .imgPrincipal {
        justify-content: center;
    }

    .cards {
        justify-content: space-around;
    }
}